
.food-classification-2 button:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);         
}

.food-plate-2:hover {
    cursor: pointer;
}

.active {
    background-color: var(--white);
    width: 225px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: 3s all ease;
}

.content .modal {    
    width: 320px;    
    top: 52px;
    left: -357px;
}