:root {
    --white: #fff;
    --light-peach: #ffe0c2;
    --warm-grey: #707070;
    --red:#e82147;
    --black:#000;
    --black-font:#0d0d0d;
  }

.food-classification-2 button:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);         
}

.food-plate-2:hover {
    cursor: pointer;
}

.active {
    background-color: var(--white);
    width: 225px;
    height: 41.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    position: relative;
    left: 25px;
    top: -65px; 
}

.content .modal {    
    width: 320px;    
    top: 52px;
    left: -357px;
}