/* main - first section*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 24px 40px;
}

.right-image {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 490px;
  right: 70px;
}

.left-image {
  width: 80px;
  height: 80px;
}

.recipes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.image-recipe-container {
  position: relative;
}

.modal-recipe {
  display: none;
  position: absolute;
  top: 150px;
  left: 37px;
  width: 320px;
  height: 40px;
}

.star-classification,
.arrow {
  width: 8px;
  height: 8px;
}

.star-classification:nth-child(4),
.star-classification:nth-child(5),
.star-classification:last-child {
  opacity: 0.1;
}

.btn-circle {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  padding: 11px;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  display: inline-flex;
  cursor: pointer;
}

.btn-circle:first-child {
  margin-right: 10px;
}

.btn-circle:hover {
  background-color: var(--red);
  scale: 1.2;
}

/* section separation */

.section-separation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-separation img {
  width: 80px;
  height: 80px;
}

.divisor-text img {
  position: absolute;
  left: 50px;
}

.divisor-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.divisor-text div {
  width: 478.5px;
  height: 38.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main second section */

.food-title {
  width: 155px;
  height: 45px;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.34;
  text-align: left;
  color: var(--black);
  margin: 5px 0;
}

.gastronomic-world {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-food {
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-classification-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-classification-2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 64.5px;
  background-color: var(--white);
  border: solid 0.5px #f0f0f0;
  padding: 16.5px 70px 16.9px 46.5px;
  margin: 0 5px 10px 30px;
  cursor: pointer;
}

.food-classification-2 button img {
  width: 30px;
  height: 30px;
}

.food-classification-2 button span {
  color: #a19b9b;
  line-height: 1.34px;
  font-family: Playfair Display, serif;
  width: 61px;
  height: 21.5px;
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 0 0 16.4px;
}

.world-food-plate {
  margin: 0 50px 0 10px;
  width: 319px;
  height: 214px;
}

