@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Playfair Display', serif; */

:root {
  --white: #fff;
  --light-peach: #ffe0c2;
  --warm-grey: #707070;
  --red:#e82147;
  --black:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}

#header {
    background-color: var(--light-peach);   
    display: block;       
    width: 100vw;
    height: 386px;
    margin: 0 0 45.5px;
    padding: 24px 84px 57.4px 40.1px;
}

#header nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
}

.search {
    width: 366px;
    height: 30px;
    border-radius: 16.5px;
    margin: 0 148px 54.1px 119.4px;
    padding: 9px 22.6px 9.2px 20px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.search::placeholder {
    font-size: 0.5rem;
    color: var(--black);
    margin-left: 20px;
    margin: 1px 223.1px 0.3px 0;
    opacity: 0.18;
}

#logo {
    width: 67.5px;
    height: 27px;
}

.avatar {
    height: 30px;
    width: 30px;
    background-color: var(--red);
    margin: 0 0 54.1px 10px;
    padding: 4.8px 5.8px 4.9px 5.4px;
    border-radius: 50%;
}

section {
    display: flex;
}

.element-2 {
    width: 137.5px;
    height: 136.8px;
}

.element-1 {
    width: 302.1px;
    height: 220.5px;

}